.header {
    display: inline;
    margin: 10px;
    font-style: italic;
    color: #BFBFBF;
}
.delete {
    margin: 10px;
    color: #FF0000;
}
.value {
    color: green;
    font-size: 14pt;
    text-transform: uppercase;
    margin: 10px;
}
div {
    border: 1px solid black;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 10px;
}
input[type=radio] {
    margin: 5px;
}
button {
    margin: 5px;
}
.list-add, .node-add {
    margin: 25px;
    color: blue;
}
li {
    margin-right: 5px;
}
ul {
    margin: 5px;
}
#w1 {
    background-color: #EE8888;
}
#w2 {
    background-color: #DD8888;
}
#w3 {
    background-color: #CC8888;
}
#w4 {
    background-color: #88EE88;
}
#w5 {
    background-color: #88DD88;
}
#w6 {
    background-color: #88CC88;
}
#w7 {
    background-color: #8888EE;
}
#w8 {
    background-color: #8888DD;
}
#w9 {
    background-color: #8888CC;
}
.key {
    text-transform: uppercase;
}
.type, .is {
    font-weight: bold;
}
